<div class="layui-fluid">  
  <div class="layui-row layui-col-space20">
    <div class="layui-col-md2">
      标题
    </div>
    <div class="layui-col-md10 title">
    </div>
  </div>
   
  <div class="layui-row layui-col-space20">
    <div class="layui-col-md2">
      邮件内容
    </div>
    <div class="layui-col-md10 content" style="word-wrap:break-word;word-break:break-all;">
    </div>
  </div>


  <div class="layui-row layui-col-space20">
    <div class="layui-col-md2">
      短信内容
    </div>
    <div class="layui-col-md10 phone-content">
    </div>
  </div>

</div>


      
