<style type="text/css">
.money-diff {color:red;font-weight: 400;}
.money {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 30px;
}
</style>
<div  style="margin-left:20px;margin-top:20px;" class="layui-row layui-hide" id="wx-pc">
</div>

<div style="margin-left:20px;margin-top:20px;" class="layui-row  layui-hide" id="wx-codepay">
    <p class="money"></p>
    <img id="wx-codepay-img" style="width:90%" src="">
    <p class="layui-hide money-diff">为了您及时到账 请务必付款<span class="money2"></span>元</p>
    <p class="layui-hide money-same">付款后自动到账 未到账可联系我们</p>
</div>

<div style="margin-left:20px;margin-top:10px;" class="layui-row tip-img layui-hide">
  <img width="200" src="/src/style/res/wx-tip.png">
</div>

