<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md1">
          <button class="layui-btn layui-btn-normal layui-btn-sm" id="refresh_detail"><i class="layui-icon layui-icon-refresh-3"></i>刷新</button>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
      <textarea name="agent-log" rows="15" readonly class="layui-textarea"></textarea>
    </div>
</div>
<script type="text/javascript">
$ = layui.$
table = layui.table


</script>


